@import '../../../app.component';

#header {
  padding: 10px 0;

  .container-fluid {
    .logo {
      display: inline-block;

      img {
        height: 60px;
      }
    }

    ul {
      display: inline-block;
      list-style: none;
      float: right;
      padding: 0;
      margin-bottom: 0;
      line-height: 58px;

      li {
        display: inline-block;

        a {
          text-decoration: none;
          font-family: $latoBold;
          font-size: 12px;
          color: #717171;
          text-transform: uppercase;

          &:hover,
          &.atv {
            color: #000;
          }
        }

        &:last-child {
          a {
            display: block;
            background-color: #BC5245;
            width: 142px;
            height: 40px;
            text-align: center;
            padding: 12px 0;
            color: #FFF;
            line-height: 16px;
            @include border-radius(5px);

            &:hover,
            &.atv {
              filter: brightness(94%);
            }
          }
        }
      }

      li + li {
        margin-left: 20px;
      }
    }
  }
}