<div id="header">
  <div class="container-fluid">
    <a routerLink="/" class="logo"><img src="/assets/logo.png"></a>

    <ul>
      <li><a routerLink="/">conheça o sistema</a></li>
      <li><a routerLink="/login">login</a></li>
      <li><a routerLink="/register">cadastre-se</a></li>
    </ul>
  </div>
</div>