#landing {
  position: relative;
  min-height: calc(100vh - 80px);
  background-color: #F1F1F1;

  h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: 3vw;
    text-align: center;
    margin: -30px 0 0 0;
  }
}