@import '../app.component';

#login {
  .left,
  .right {
    padding: 90px 50px;
        min-height: 100%;
    height: 100vh;
  }

  .row {
    margin:0;
  }

  #remember {
    margin:-3px 0 0;
  }

  .left {
    background-color: #F1F1F1;

    form {
      display: block;
      width: 100%;
      max-width: 420px;
      margin: auto;

      .content {
        border: 1px solid #E4E6E8;
        background-color: #FFF;
        padding: 30px;
        margin-bottom: 30px;
        @include border-radius(5px);
        -webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.1);
        box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.1);

        h1 {
          display: block;
          text-align: center;
          font-family: $latoLight;
          font-size: 25px;
          padding-top: 0;
          text-transform: uppercase;
          color: #717171;
        }

        fieldset {
          position: relative;
          margin-bottom: 30px;

          span {
            display: block;
            font-size: 14px;
            color: #717171;
            font-family: $latoRegular;
          }

          input {
            display: block;
            width: 100%;
            border: 2px solid #CDCECF;
            font-family: $latoRegular;
            font-size: 16px;
            padding: 12px;
            color: #AAA;
            @include border-radius(5px);
          }

          button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            padding: 0;
            background-color: transparent;
            color: #5C9DA5;
            font-size: 13px;

            &:before {
              position: relative;
              font-size: 15px;
              top: 2px;
              margin-right: 3px;
            }
          }
        }

        .submit {
          display: block;
          width: 100%;
          padding: 12px 0;
          text-align: center;
          font-family: $latoRegular;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center;
          background-color: #BC5245;
          border: none;
          color: #FFF;
          margin-bottom: 30px;
          @include border-radius(5px);

          &:hover {
            filter: brightness(94%);
          }
        }

        .keep {
          text-align: center;
          font-family: $latoRegular;
          color: #717171;
          font-size: 14px;
          cursor: pointer;

          .radio {
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 2px solid #CDCECF;
            margin-right: 5px;
            vertical-align: middle;
            @include border-radius(3px);
          }
        }
      }

      .forget {
        display: block;
        max-width: 150px;
        border: none;
        padding: 0;
        text-decoration: underline;
        background-color: transparent;
        font-family: #latoLight;
        font-size: 14px;
        color: #5C9DA5;
        margin: auto;
      }
    }
  }

  .right {
    background-image: url('/assets/bg-login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    p {
      font-family: $latoLight;
      color: #FFF;
      font-size: 16px;
      max-width: 50%;
      margin-bottom: 30px;
    }

    button {
      padding: 12px 0;
      display: block;
      width: 100%;
      max-width: 320px;
      text-align: center;
      color: #FFF;
      font-size: 16px;
      font-family: $latoRegular;
      text-transform: uppercase;
      border: 2px solid #FFF;
      background-color: transparent;
      @include border-radius(5px);

      &:hover {
        background-color: #FFF;
        color: #717171;
      }
    }
  }
}

@media (max-width: 962px) {
  #login {
    .left,
    .right {

    }
  } 
}