<div id="login">
<div class="row m-0">
	<div class="left col-lg-6 col-md-12 col-sm-12">
		<div [class]="formValid ? 'hidden' : 'alert alert-danger'">
					<p>Erro form vazio.</p>
				</div>
		<form>
			<div class="content">
				
				<h1>acesse o sistema</h1>
				<fieldset>
					<span>Usuário</span>

					<input id="email" type="text">
				</fieldset>

				<fieldset>
					<span>Senha</span>

					<input id="pass" [type]="passVisible ? 'text' : 'password'">

					<button type="button" class="icn-invisible" (click)="togglePassVisible($event);">{{ textVisible }}</button>
				</fieldset>

				<button type="button" class="submit" (click)="login($event);">login</button>

				<div class="keep">
					<input type="checkbox" name="remember" id="remember" class="radio" />

					Mantenha-me conectado
				</div>
			</div>

			<button type="button" class="forget hidden">Esqueceu a senha?</button>
		</form>
	</div>

	<div class="right col-lg-6 col-md-12 col-sm-12">
		<p>Oferecemos um sistema que permite às companhias monitorar o comércio marítimo da costa leste da América do Sul.</p>

		<p>Os dados coletaods por nossos profissionais são cruzados e suplementados por estatísticas oficiais, dados dos portos, terminais e relatórios de indústrias dos mais variados setores.</p>

		<button type="button">quero saber mais</button>
	</div>
</div>
</div>