@font-face {
  font-family: 'latolight';
  src: url('/assets/fonts/lato/light/lato-light.eot');
  src: url('/assets/fonts/lato/light/lato-light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/lato/light/lato-light.woff2') format('woff2'),
       url('/assets/fonts/lato/light/lato-light.woff') format('woff'),
       url('/assets/fonts/lato/light/lato-light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'latoregular';
  src: url('/assets/fonts/lato/regular/lato-regular.eot');
  src: url('/assets/fonts/lato/regular/lato-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/lato/regular/lato-regular.woff2') format('woff2'),
       url('/assets/fonts/lato/regular/lato-regular.woff') format('woff'),
       url('/assets/fonts/lato/regular/lato-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'latobold';
  src: url('/assets/fonts/lato/bold/lato-bold.eot');
  src: url('/assets/fonts/lato/bold/lato-bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/lato/bold/lato-bold.woff2') format('woff2'),
       url('/assets/fonts/lato/bold/lato-bold.woff') format('woff'),
       url('/assets/fonts/lato/bold/lato-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}