@charset "UTF-8";

@font-face {
  font-family: "portal";
  src:url("fonts/portal.eot");
  src:url("fonts/portal.eot?#iefix") format("embedded-opentype"),
    url("fonts/portal.woff") format("woff"),
    url("fonts/portal.ttf") format("truetype"),
    url("fonts/portal.svg#portal") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "portal" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icn-"]:before,
[class*=" icn-"]:before {
  font-family: "portal" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-visible:before {
  content: "\61";
}
.icn-invisible:before {
  content: "\62";
}
