<div id="register">
  <form>
    <div class="content">
      <h1>cadastre-se</h1>

      <p>Em seguida um de nossos consultores entrará em contato.</p>

      <fieldset>
        <span>Nome completo</span>

        <input type="text">
      </fieldset>

      <fieldset>
        <span>Empresa</span>

        <input type="text">
      </fieldset>

      <fieldset>
        <span>E-mail</span>

        <input type="text">
      </fieldset>

      <fieldset>
        <span>Telefone</span>

        <input type="text">
      </fieldset>

      <button type="button" class="submit">cadastrar</button>
    </div>
  </form>
</div>